footer {
    background-color: #1F2022;
    color:white;
}

.logo {
    width: 40px;
    height: auto;
}

footer > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

.footer-container-one {
    display: flex;

}

@media (max-width:600px) {

    .footer-container-one {
        flex-direction: column;
        text-align: left;
    }

    .links {
        display: grid;
        display: inline-grid;
  
}